################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConstructionOPS/.vs
/ConstructionOPS/ConstructionOPS.Server/obj/Debug/net10.0
/ConstructionOPS/ConstructionOPS.Server/obj
/ConstructionOPS/ConstructionOPS.Server/appsettings.json
/ConstructionOPS/ConstructionOPS.Server/appsettings.Development.json
/ConstructionOPS/ConstructionOPS.Server/Properties
/ConstructionOPS/ConstructionOPS.Server/bin/Debug/net10.0
/ConstructionOPS/constructionops.client/obj/Debug
/ConstructionOPS/constructionops.client/package-lock.json
